<h1>Editing Path</h1>

<%= form_with(model: @path, local: true) do |form| %>

  <%= render form_errors @path %>

  <div class="field">
    <%= form.label :choice %>
    <%= form.text_field :choice, id: :path_choice %>
  </div>

  <div class="field">
    <%= form.label :to_room_id %>
    <%= form.collection_select :to_room_id, Room.all, :id, :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', @from_room %>
