<h1>New Path</h1>

<%= form_with(model: @path, local: true, url: new_path_from_path(@path.from_room)) do |form| %>

  <%= render 'form_errors', path: @path %>

  <div class="field">
    <%= form.label :choice %>
    <%= form.text_field :choice, id: :path_choice %>
  </div>

  <h4>New Room</h4>
  <%= form.fields_for :to_room do |to_room| %>
    <div class="field">
      <%= to_room.label :title %>
      <%= to_room.text_field :title, id: :room_title %>
    </div>

    <div class="field">
      <%= to_room.label :body %>
      <%= to_room.text_area :body, id: :room_body %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', @path.from_room %>
