<h1>New Path</h1>
<%= form_with(model: @path, local: true) do |form| %>

  <% if @path.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@path.errors.count, "error") %> prohibited this path from being saved:</h2>

      <ul>
      <% @path.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :choice %>
    <%= form.text_field :choice, id: :path_choice %>
  </div>
  
  <div class="field">
    <%= form.label :from_room_id %>
    <%= @from_room.title %>
    <%= form.hidden_field :from_room_id, value: @from_room.id %>
  </div>

  <div class="field">
    <%= form.label :to_room_id %>
    <%= form.collection_select :to_room_id, Room.all, :id, :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', @from_room %>