<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @room.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @room.body %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %>

<br>

<% if @room.paths_out.size > 0 %>
  <table>
    <caption>Paths out</caption>
    <thead>
      <tr>
        <th>Choice</th>
        <th>To room</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tbody>
      <% @room.paths_out.each do |path| %>
        <tr>
          <td><%= path.choice %></td>
          <td><%= link_to path.to_room.title, path.to_room %></td>
          <td><%= link_to 'Edit', edit_path_path(path) %></td>
          <td><%= link_to 'Remove', path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Path', new_path_from_path(@room) %> |
<%= link_to 'Back', rooms_path %>
